<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMr72uH38y8MDPEC3ZdAhUN0sIkaz0k9g</string>
	<key>GCM_SENDER_ID</key>
	<string>816571150051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pmki.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>panduan-media-kreatif-islam</string>
	<key>STORAGE_BUCKET</key>
	<string>panduan-media-kreatif-islam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816571150051:ios:5a6ef84305b738dbc09fd6</string>
</dict>
</plist>